* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #dddfd4;
  background-size: 100% 100%;
  box-sizing: border-box;
  font-size: 1.3rem;
  overflow: hidden;
  color: white;
  padding-bottom: 4rem;
}
